.main-container {
    padding: 0px;
    margin: 0px;
    display: flex;
    max-height: 100vh;
}

.header-category, .header-comment, .header-profile {
    background-color: white;
    padding: 10px 0px;
    height: 65px;
}

.header-category h3, .header-comment h3 {
    margin: 5px;
}

.header-swipe {
    height: 65px;
}

.header-category, .content-category, .footer-category {
    border: 1px solid;
    border-color: #fff rgba(0, 0, 0, .125) #fff #fff;
}

.empty-list h4 {
    color: rgb(151, 151, 151);
    text-align: center;
}

.spinner-container {
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    text-align: center;
    align-content: stretch;
}

.category, .comment, .profile {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.comment, .profile {
    border: 1px solid;
    border-color: #fff #fff #fff rgba(0, 0, 0, .125);
}

.content {
    flex: 2;
    position: relative;
}

.comment {
    padding-left: 0px !important;
}

.category .spinner-container {
    padding-top: 40vh;
}

.content-category {
    flex: auto;
    background-color: #fff;
    padding: 20px 0px;
}

.content-category .toast {
    text-align: center;
    position: absolute !important;
    z-index: 100;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15vh;
    left: 0;
    right: 0;
    bottom: 0;
}

.content-category .success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.content-category .danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.card-category {
    height: 75px;
    transition: 0.3s;
}

.card-category:hover {
    background-color: rgb(28, 184, 65);
    color: white;
    cursor: pointer;
}

.category-active {
    background-color: rgb(28, 184, 65);
    color: white;
    cursor: pointer;
}

.card-category .card-body {
    display: block !important;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 25px 5px;
}

.footer-category {
    height: 85px;
    background-color: #fff;
}

/* Comment */

.comment-user-profile, .comment-user-profile img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: auto;
}

.btn-back {
    margin-top: 5px;
}

.comment-user-profile:hover {
    opacity: 0.7;
    cursor: pointer;
}

.content-comment {
    flex: auto;
    position: relative;
    background-color: #fff;
    padding: 20px 0px !important;
}

.content-comment .spinner-container {
    padding-top: 30vh;
}

.card-comment {
    margin-bottom: 10px;
}

.card-comment .col:first-child {
    padding-right: 10px;
}

.card-comment .card-body {
    padding: 10px;
}

.card-comment img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.card-comment .card-title {
    font-size: 16px;
    margin-bottom: 10px;
}

.card-comment .card-subtitle {
    font-size: 12px;
    color: rgb(87, 87, 87);
}

.card-comment .card-text {
    font-size: 14px;
    padding-right: 20px;
}

.footer-comment {
    background-color: #fff;
    padding: 0px 20px;
    height: 160px;
}

/* Profile */

.header-profile {
    height: 100px;
}

.profile .div {
    flex: 1;
}

.container-profile {
    position: relative;
    align-content: center;
    text-align: center;
}

.back-profile {
    position: absolute;
    color: #0069d9;
}

.back-profile:hover {
    color: #005fc4;
    cursor: pointer;
    font-size: 16px;
}

.profile-user-avatar, .profile-user-avatar img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0px auto;
}

.profile-user-avatar img {
    margin-bottom: 10px;
}

.content-user h5 {
    text-align: center;
    margin-top: 10px;
}

.content-profile {
    position: relative;
    flex: 2;
    overflow: auto;
    padding: 20px 20px !important;
}

.content-profile .spinner-container {
    padding-top: 30vh;
}

.tab {
    display: flex;
    text-align: center;
    margin: 0px;
}

.tab-nav {
    flex: 1;
    height: 53px;
}

.tab-nav:hover {
    cursor: pointer;
}

.tab-active {
    font-weight: bold;
    border: 2px solid;
    color: #0069d9;
    border-color: #fff #fff #dc3545;
}

.card-like {
    margin-bottom: 10px;
}

.card-like .card-body {
    padding: 10px;
}

.card-like .category {
    font-size: 12px;
    color: #dc3545;
    font-weight: bold;
}

.card-like .card-title {
    font-size: 16px;
    margin-bottom: 10px;
}

.card-like .card-subtitle {
    font-size: 12px;
    color: rgb(87, 87, 87);
    margin-bottom: 30px;
}

.card-like .col:last-child {
    text-align: end;
    color: #0069d9;
    font-size: 24px;
}

.card-like .fa-share:hover {
    color: #005fc4;
    cursor: pointer;
}

.footer-profile {
    height: 85px;
    background-color: #fff;
}

/* Main Content */

.content .spinner-container {
    padding-top: 40vh;
}

.spinner-container .spinner-border {
    width: 50px;
    height: 50px;
}

.header-swipe {
    align-content: center;
    padding-top: 10px;
}

.header-swipe img {
    width: 50px;
    height: 50px;
    top: 0;
    margin: 0px 0px 20px 0px;
}

.header-swipe h1 {
    display: inline-block;
    width: 250px;
    margin: 0px;
}

.content {
    position: relative;
    overflow: hidden;
}

.content .empty-list {
    margin-top: 20px;
}

.content-swipe {
    padding-top: 10px;
}

.animated-parent {
    position: absolute;
    width: 100%;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animated-child {
    cursor: pointer;
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center center;
    will-change: transform;
    border-radius: 10px;
}

.card-swipe {
    width: 60vh;
    height: 80vh;
    border: none;
}

.card-swipe iframe {
    height: 350px;
}

.card-swipe img {
    height: 400px;
}

.card-swipe .card-text {
    overflow: auto;
    height: 30vh;
    margin: 10px 0px 20px;
}

.card-swipe .card-article {
    height: 57vh;
}

.content-swipe .toast {
    text-align: center;
    position: absolute !important;
    z-index: 50;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    left: 0;
    right: 0;
    bottom: 0;
}

.content-swipe .toast-like {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.content-swipe .toast-dislike {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.modal-content {
    width: 600px;
    height: 90vh;
    margin: auto;
}

.modal-header {
    color: #dc3545;
}

.modal-like .spinner-container {
    padding-top: 40vh;
}

.modal-like .title {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: .75rem;
}

.modal-like img {
    height: 60vh;
}

.modal-like .text {
    overflow: auto;
    height: 30vh;
    margin: 10px 0px 20px;
}

.modal-like .text {
    overflow: auto;
    height: 30vh;
    margin: 10px 0px 20px;
}

.modal-like .modal-article {
    height: 57vh;
}